.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
}

.profile-style {
    max-height: 40px;
    border: 1px solid white;
    display: inline;
}